@use "sass:color";
@use "../1_settings/colors";
@use "../1_settings/spacing" as *;
@use "../1_settings/transition" as *;

// Create styling for all "button"-type elements (typically designated with the 
// '.btn' class).
@mixin styles {
  display: inline-block;
  margin: 0;
  border: 1px solid;
  padding: ($spacing--1qtr + 0rem) ($spacing--half + 0rem);
  box-shadow: 0 3px 7px 0 color.adjust(colors.$black, $alpha: -0.75);
  border-color: transparent;
  background-color: var(--color-secondary);
  outline: 0.25rem solid transparent !important;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--esl-color-white);
  transition: $transition;
  transition-property: border, background-color, color, outline-color;
  cursor: pointer;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  
  &:hover {
    background-color: var(--color-tertiary);
    color: var(--esl-color-white);
  }
  
  &:focus {
    outline-color: color.adjust(colors.$aqua-blue, $alpha: -0.75) !important;
  }
  
  &:active {
    background-color: var(--color-primary);
    color: var(--esl-color-white);
  }
}
