@use "sass:math";
@use "../1_settings/typography";
@use "fluid-typography" as *;

@mixin tiny {
  @include fluid-type(math.pow(typography.$scale--start, -2) + 0rem, math.pow(typography.$scale--end, -2) + 0rem);
}
@mixin tiny-start {
  @include fluid-type(math.pow(typography.$scale--start, -2) + 0rem, 1rem);
}
@mixin tiny-end {
  @include fluid-type(1rem, math.pow(typography.$scale--end, -2) + 0rem);
}

@mixin xsmall {
  @include fluid-type(math.pow(typography.$scale--start, -1) + 0rem, math.pow(typography.$scale--end, -1) + 0rem);
}
@mixin xsmall-start {
  @include fluid-type(math.pow(typography.$scale--start, -1) + 0rem, 1rem);
}
@mixin xsmall-end {
  @include fluid-type(1rem, math.pow(typography.$scale--end, -1) + 0rem);
}

@mixin small {
  @include fluid-type(math.pow(typography.$scale--start, -0.5) + 0rem, math.pow(typography.$scale--end, -0.5) + 0rem);
}
@mixin small-start {
  @include fluid-type(math.pow(typography.$scale--start, -0.5) + 0rem, 1rem);
}
@mixin small-end {
  @include fluid-type(1rem, math.pow(typography.$scale--end, -0.5) + 0rem);
}

@mixin large {
  @include fluid-type(typography.$scale--start + 0rem, typography.$scale--end + 0rem);
}
@mixin large-start {
  @include fluid-type(typography.$scale--start + 0rem, 1rem);
}
@mixin large-end {
  @include fluid-type(1rem, typography.$scale--end + 0rem);
}

@mixin h1 {
  font-family: var(--esl-font-serif);
  @include fluid-type(math.pow(typography.$scale--start, 5) + 0rem, math.pow(typography.$scale--end, 5) + 0rem);
  line-height: 1.1;
}

@mixin h2 {
  font-family: var(--esl-font-serif);
  @include fluid-type(math.pow(typography.$scale--start, 4) + 0rem, math.pow(typography.$scale--end, 4) + 0rem);
  line-height: 1.18;
}

@mixin h3 {
  @include fluid-type(math.pow(typography.$scale--start, 3) + 0rem, math.pow(typography.$scale--end, 3) + 0rem);
  line-height: 1.26;
}

@mixin h4 {
  @include fluid-type(math.pow(typography.$scale--start, 2) + 0rem, math.pow(typography.$scale--end, 2) + 0rem);
  line-height: 1.34;
}

@mixin h5 {
  @include fluid-type(typography.$scale--start + 0rem, typography.$scale--end + 0rem);
  line-height: 1.42;
}

@mixin h6 {
  font-size: 1rem;
}
