<ul class="pl-breakpoints">
  <li class="pl-breakpoint pl-breakpoint--min" style="z-index:10; width: 0px; border-right: 1px dotted !important; border-bottom: none; border-left: none !important;">
    <div class="pl-breakpoint__label font-size--tiny" style="position: relative; left: 50%; transform: translateX(-50%); border-radius: 4% 4% 0 0;"><code>min</code>0px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--xs" style="z-index:9; width: 320px; margin-right: -320px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>xs</code>320px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--sm" style="z-index:8; width: 480px; margin-right: -480px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>sm</code>480px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--md" style="z-index:7; width: 576px; margin-right: -576px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>md</code>576px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--lg" style="z-index:6; width: 768px; margin-right: -768px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>lg</code>768px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--xl" style="z-index:5; width: 992px; margin-right: -992px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>xl</code>992px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--xxl" style="z-index:4; width: 1400px; margin-right: -1400px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>xxl</code>1400px</div>
  </li>
  <li class="pl-breakpoint pl-breakpoint--max" style="z-index:3; width: 1700px; margin-right: -1700px !important;">
    <div class="pl-breakpoint__label font-size--tiny"><code>max</code>1700px</div>
  </li>
</ul>
