///
/// @file
/// Reset & normalize inline text semantics elements
/// https://developer.mozilla.org/en-US/docs/Web/HTML/Element#inline_text_semantics
///

code {
  font-family: monospace, monospace; // Correct the inheritance and scaling of font size in all browsers.
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
  font-weight: normal;
  white-space: nowrap;
}
