<div id="{{ patternPartial }}" class="pl-c-category bg--charcoal">
	<h1 class="esl-accent">{{ patternName }}</h1><!--end pl-c-category__title-->
	{{{ patternDesc }}}
</div><!--end pl-c-category-->
<div class="bg--light-grey py-3" id="usage-header">
	<div class="container-fluid">
		<div class="row">
			<div class="col px-4">
				<h2 class="h3 font-family--sans-serif">Usage</h2>
			</div>
		</div>
	</div>
</div>
