@use "sass:color";
@use "sass:math";
@use "../1_settings/colors";
@use "../1_settings/spacing" as *;
@use "../1_settings/transition" as *;
@use "../2_tools/font-size";

a {
  outline: 0.25rem solid transparent;
  font-weight: bold;
  text-decoration-color: var(--esl-color-dark-grey);
  text-underline-offset: math.div($spacing--1qtr + 0rem, 2);
  color: var(--color-primary);
  transition: $transition;
  transition-property: outline-color, color, text-decoration-color;
  
  &:hover {
    color: var(--color-tertiary);
  }
  
  &:focus {
    outline-color: color.adjust(colors.$esl-aqua, $alpha: -0.75);
  }
  
  &:active {
    color: currentcolor;
  }
}

blockquote p::before {
  content: '\201C';
  font-family: var(--esl-font-serif);
}
blockquote p:last-child::after {
  content: '\201D';
  font-family: var(--esl-font-serif);
}

blockquote:not(:first-child),
dl:not(:first-child),
hr:not(:first-child),
ol:not(:first-child),
p:not(:first-child),
ul:not(:first-child) {
  margin-top: $spacing--single + 0rem;
}

blockquote:not(:last-child),
dl:not(:last-child),
hr:not(:last-child),
ol:not(:last-child),
p:not(:last-child),
ul:not(:last-child) {
  margin-bottom: $spacing--single + 0rem;
}

dd,
li {
  margin-left: $spacing--single + 0rem;
  margin-right: $spacing--single + 0rem;
}
dd:not(:last-child),
li:not(:last-child) {
  margin-bottom: $spacing--single + 0rem;
}

figure {}
figure img {
  display: block;
}
figcaption {
  padding: $spacing--half + 0rem $spacing--1qtr + 0rem;
  color: currentcolor;
}

hr {
  position: relative;
  height: 1px;
  border: none;
  
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    border-top: 1px solid currentcolor;
    opacity: 0.1;
  }
}

li > {
  ol,
  ul {
    margin-top: $spacing--single + 0rem;
  }
}
