///
/// @file
/// Base styles for sectioning root
/// https://developer.mozilla.org/en-US/docs/Web/HTML/Element#sectioning_root
///

body {
  font-family: var(--esl-font-sans-serif);
  color: var(--esl-color-charcoal);
  
  --color-primary: var(--esl-color-blue);
  --color-secondary: var(--esl-color-green);
  --color-accent: var(--esl-color-aqua-blue);
}
