///
/// @file
/// Base styles for content sectioning elements
/// https://developer.mozilla.org/en-US/docs/Web/HTML/Element#content_sectioning
///
@use "sass:math";
@use "../1_settings/spacing" as *;
@use "../1_settings/typography";
@use "../2_tools/fluid-typography" as *;
@use "../2_tools/font-size";
@use "../2_tools/resets";

h1,
h2,
h3,
h4,
h5,
h6 {
  @include resets.margin;
  font-weight: 500;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child) {
  margin-bottom: $spacing--single + 0rem;
}

h1 {
  @include font-size.h1;
}
h2 {
  @include font-size.h2;
}
h3 {
  @include font-size.h3;
}
h4 {
  @include font-size.h4;
}
h5 {
  @include font-size.h5;
}
h6 {
  @include font-size.h6;
}

main:focus {
  outline: none;
}

nav {
  outline: none;
}
