///
/// @file
/// Base styles for main root
/// https://developer.mozilla.org/en-US/docs/Web/HTML/Element#main_root
///
@use "../1_settings/colors";
@use "../1_settings/fonts";
@use "../1_settings/spacing" as *;
@use "../1_settings/typography";
@use "../2_tools/fluid-typography" as *;

:root {
  // Global CSS custom properties
  --esl-color-blue: #{colors.$esl-blue};
  --esl-color-green: #{colors.$esl-green};
  
  --esl-color-aqua-blue: #{colors.$aqua-blue};
  --esl-color-medium-green: #{colors.$medium-green};
  --esl-color-dark-green: #{colors.$dark-green};
  
  --esl-color-pga-blue: #{colors.$pga-blue};
  --esl-color-pga-green: #{colors.$pga-green};
  --esl-color-pga-cream: #{colors.$pga-cream};
  
  --esl-color-black: #{colors.$black};
  --esl-color-dark-grey: #{colors.$dark-grey};
  --esl-color-medium-grey: #{colors.$medium-grey};
  --esl-color-light-grey: #{colors.$light-grey};
  --esl-color-xlight-grey: #{colors.$xlight-grey};
  --esl-color-white: #{colors.$white};
  
  --esl-color-error: #{colors.$error};
  --esl-color-warning: #{colors.$warning};
  
  --esl-font-serif: #{fonts.$serif};
  --esl-font-sans-serif: #{fonts.$sans-serif};
    
  // Implement fluid typography
  @include fluid-type(typography.$font-size--start, typography.$font-size--end);
  line-height: $spacing--single;
  min-height: 0vw; // Safari fix
  -webkit-text-size-adjust: 100%;
}
