.bg--primary {
  background-color: var(--color-primary);
  color: var(--esl-color-white);
}
.bg--secondary {
  background-color: var(--color-secondary);
  color: var(--esl-color-white);
}

.bg--esl-blue {
  --color-primary: var(--esl-color-white);
  background-color: var(--esl-color-blue);
  color: var(--esl-color-white);
}
.bg--esl-green {
  --color-primary: var(--esl-color-white);
  background-color: var(--esl-color-green);
  color: var(--esl-color-white);
}
.bg--esl-aqua {
  --color-primary: var(--esl-color-white);
  background-color: var(--esl-color-aqua);
  color: var(--esl-color-white);
}

.bg--pga-blue {
  background-color: var(--esl-color-pga-blue);
  color: var(--esl-color-white);
}
.bg--pga-green {
  background-color: var(--esl-color-pga-green);
  color: var(--esl-color-white);
}
.bg--pga-cream {
  background-color: var(--esl-color-pga-cream);
}

.bg--charcoal {
  --color-primary: var(--color-secondary);
  background-color: var(--esl-color-charcoal);
  color: var(--esl-color-white);
}
.bg--dark-grey {
  background-color: var(--esl-color-dark-grey);
}
.bg--light-grey {
  background-color: var(--esl-color-light-grey);
}
.bg--white {
  background-color: var(--esl-color-white);
}

.bg--error {
  background-color: var(--esl-color-error);
  color: var(--esl-color-white);
}
.bg--warning {
  background-color: var(--esl-color-warning);
  color: var(--esl-color-white);
}
