.color--esl-blue {
  color: var(--esl-color-blue);
}
.color--esl-green {
  color: var(--esl-color-green);
}
.color--esl-aqua-blue {
  color: var(--esl-color-aqua-blue);
}
.color--esl-medium-green {
  color: var(--esl-color-medium-green);
}
.color--esl-dark-green {
  color: var(--esl-color-dark-green);
}
