.color--esl-blue {
  color: var(--esl-color-blue);
}
.color--esl-green {
  color: var(--esl-color-green);
}
.color--esl-aqua-blue {
  color: var(--esl-color-aqua-blue);
}
.color--esl-medium-green {
  color: var(--esl-color-medium-green);
}
.color--esl-dark-green {
  color: var(--esl-color-dark-green);
}

.color--pga-blue {
  color: var(--esl-color-pga-blue);
}
.color--pga-green {
  color: var(--esl-color-pga-green);
}
.color--pga-cream {
  color: var(--esl-color-pga-cream);
}

.color--black {
  color: var(--esl-color-black);
}
.color--charcoal {
  color: var(--esl-color-charcoal);
}
.color--dark-grey {
  color: var(--esl-color-dark-grey);
}
.color--medium-grey {
  color: var(--esl-color-medium-grey);
}
.color--light-grey {
  color: var(--esl-color-light-grey);
}
.color--white {
  color: var(--esl-color-white);
}

.color--error {
  color: var(--esl-color-error);
}
.color--warning {
  color: var(--esl-color-warning);
}
