<div class="intro intro--reversed o-media bg--light-grey">
  <div class="intro__media esl-frame o-media__media">
    <img src="../../images/home-intro.jpg" alt="Two women reviewing information on a tablet.">
  </div>
  <div class="intro__content o-media__content">
    <div class="intro__body">
      <h1 class="esl-accent">Promissory Design</h1>
      <h2 class="h3 font-weight--normal font-family--serif color--primary">Deliver on the promise of consistent digital experiences.</h2>
      <p>Promissory Design is a library of components and styling used to create responsive, accessible, and reliable user interfaces for any Erickson Senior Living web project. Developed using <a href="https://atomicdesign.bradfrost.com">atomic design</a> principles, Promissory Design ensures predictable results made with lean, concise code.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col bg--esl-blue p-5">
      <h3 class="font-family--serif font-weight--normal text-align--center">Get Started</h3>
      <p class="text-align--center">Include the Promissory Design CSS and JS in your HTML using the <a href="https://www.jsdelivr.com">jsDelivr</a> CDN. Then, begin building by utilizing the code samples and documentation on this site.</p>
      <table class="table--minimal font-size--xsmall">
        <tbody>
          <tr>
            <th scope="row">CSS</th>
            <td><button class="pl-c-code-copy-btn pl-js-code-copy-btn" size="small" data-clipboard-target="#include--css code"> <span class="pl-c-code-copy-btn__icon-text">Copy</span></button></td>
            <td class="text-nowrap" id="include--css"><pre><code class="code">&lt;link href="https://cdn.jsdelivr.net/gh/ericksonweb/promissory@1.0/design/dist/css/promissory.css" rel="stylesheet" crossorigin="anonymous"&gt;</code></pre></td>
          </tr>
          <tr>
            <th scope="row">JS</th>
            <td><button class="pl-c-code-copy-btn pl-js-code-copy-btn" size="small" data-clipboard-target="#include--js code"> <span class="pl-c-code-copy-btn__icon-text">Copy</span></button></td>
            <td class="text-nowrap" id="include--js"><pre><code>&lt;script src="https://cdn.jsdelivr.net/gh/ericksonweb/promissory@1.0/design/dist/js/promissory.js" crossorigin="anonymous" defer&gt;&lt;/script&gt;</code></pre></td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>
</div>
