{{ include ('@atoms/table.twig', {
  header: {
    rows: [
      {
        cells: [
          {
            element: 'td',
          },
          {
            content: "Start",
          },
          {
            content: "End",
          },
        ]
      },
    ],
  },
  body: [
    {
      rows: [
        {
          cells: [
            {
              element: 'th',
              content: "Breakpoint",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<code><b>lg</b></code> <span class="font-size--xsmall">(768px and below)</span>',
            },
            {
              content: '<code><b>xxl</b></code> <span class="font-size--xsmall">(1400px and above)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "Modular Scale " ~
                include ('@atoms/link.twig', {
                  icon: {
                    fa_prefix: 'fas',
                    fa_name: 'external-link-alt'
                  },
                  attributes: {
                    href: 'https://type-scale.com',
                    class: ['font-size--xsmall', 'color--white']
                  },
                }, with_context = false)
              ,
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1.200</b> <span class="font-size--xsmall">("Minor Third")</span>',
            },
            {
              content: '<b>1.250</b> <span class="font-size--xsmall">("Major Third")</span>',
            },
          ]
        },
      ],
    },
    {
      rows: [
        {
          cells: [
            {
              element: 'th',
              content: "Font Sizes",
              attributes: {
                colspan: 3,
                class: ['subhead', 'font-size--xsmall']
              }
            }
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code>:root</code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1rem</b> <span class="font-size--xsmall">(16px)</span>',
            },
            {
              content: '<b>1.125rem</b> <span class="font-size--xsmall">(18px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h1'>" ~ "<h1>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>2.48832rem</b> <span class="font-size--xsmall">(39.8131217956543px)</span>',
            },
            {
              content: '<b>3.0517578125rem</b> <span class="font-size--xsmall">(54.931640625px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h2'>" ~ "<h2>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>2.0736rem</b> <span class="font-size--xsmall">(33.1776008605957px)</span>',
            },
            {
              content: '<b>2.44140625rem</b> <span class="font-size--xsmall">(43.9453125px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h3'>" ~ "<h3>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1.728rem</b> <span class="font-size--xsmall">(27.648000717163086px)</span>',
            },
            {
              content: '<b>1.953125rem</b> <span class="font-size--xsmall">(35.15625px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h4'>" ~ "<h4>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1.44rem</b> <span class="font-size--xsmall">(23.040000915527344px)</span>',
            },
            {
              content: '<b>1.5625rem</b> <span class="font-size--xsmall">(28.125px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h5'>" ~ "<h5>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1.2rem</b> <span class="font-size--xsmall">(19.200000762939453px)</span>',
            },
            {
              content: '<b>1.25rem</b> <span class="font-size--xsmall">(22.5px)</span>',
            },
          ]
        },
        {
          cells: [
            {
              element: 'th',
              content: "<code><span class='h6'>" ~ "<h6>"|escape ~ "</span></code>",
              attributes: {
                scope: 'row'
              }
            },
            {
              content: '<b>1rem</b> <span class="font-size--xsmall">(16px)</span>',
            },
            {
              content: '<b>1rem</b> <span class="font-size--xsmall">(18px)</span>',
            },
          ]
        },
      ]
    }
  ],
}) }}
