@use "sass:color";
@use "../../1_settings/colors";
@use "../../1_settings/spacing" as *;
@use "../../1_settings/transition" as *;
@use "../../2_tools/font-size";
@use "../../2_tools/resets";

.mark-required {
  &::before {
    content: "*";
    margin-right: $spacing--1qtr + 0rem;
    font-size: 1rem;
    font-weight: bold;
    vertical-align: top;
    color: var(--esl-color-aqua-blue);
    
    input[type=checkbox] + &,
    input[type=radio] + & {
      margin-left: -$spacing--1qtr + 0rem;
    }
    
    .has-invalid &,
    .is-invalid + & {
      color: var(--esl-color-error) !important;
    }
  }
}

.dropdown {
  & > select.is-invalid {
    & ~ .btn {
      border-color: var(--esl-color-error) !important;
      
      &:focus {
        outline-color: color.adjust(colors.$error, $alpha: -0.75);
      }
    }
    
    &:focus ~ .btn {
      outline-color: color.adjust(colors.$error, $alpha: -0.75);
    }
  }
  
  &.has-invalid ~ .mark-required::before {
    color: var(--esl-color-error) !important;
  }
}

.form__group {
  &.has-invalid {
    width: calc(100% - (#{$spacing--half + 0rem} * 2));
    margin: 0 ($spacing--half + 0rem) ($spacing--single + 0rem);
    border: 1px solid;
    padding: ($spacing--half + 0rem) ($spacing--half + 0rem) 0;
    border-color: var(--esl-color-error);
    
    input {
      border-color: var(--esl-color-medium-grey);
      
      &:focus {
        outline-color: transparent;
      }
    }  
    
    &:focus-within {
      outline: 0.25rem solid transparent;
      outline-color: color.adjust(colors.$error, $alpha: -0.75);
    }
  }
  
  & .mark-required::before {
    content: none;
  }
}

.is-invalid {
  border-color: var(--esl-color-error) !important;
  
  &:focus {
    outline-color: color.adjust(colors.$error, $alpha: -0.75);
  }
}

// Invalid messages
.invalid-feedback {
  flex: 1 0 100%;
  @include font-size.small;
  color: var(--esl-color-error);
  
  .mark-required ~ & {
    margin-bottom: -$spacing--3qtr + 0rem;
  }
  
  &:first-child {
    margin-bottom: $spacing--half + 0rem;
  }
}
