.o-collapse__toggler.btn {
  padding: 0;
  line-height: inherit;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: var(--esl-color-charcoal);
  
  &:hover {
    background-color: transparent;
    color: var(--esl-color-charcoal);
  }
  
  &:focus {
    box-shadow: none;
  }
}
