@use "../1_settings/spacing" as *;

.o-collapse__toggler.btn {
  padding: $spacing--1qtr + 0rem $spacing--half + 0rem;
  line-height: inherit;
  box-shadow: none;
  border: none;
  background-color: transparent;
  color: currentcolor;
  
  &:hover {
    background-color: transparent;
    color: var(--color-secondary);
  }
  
  &:focus {
    box-shadow: none;
  }
  
  &[aria-expanded="false"] {
    & .icon::before {
      content: '\f107';
    }
  }
  
  &[aria-expanded="true"] {
    & .icon::before {
      content: '\f106';
    }
  }
}
