@use "../1_settings/breakpoints" as *;
@use "../1_settings/spacing" as *;
@use "../1_settings/transition" as *;

$breakpoint: map-get($breakpoints, sm); 

.accordion {
  &-item {
    border: 1px solid;
    border-color: var(--esl-color-dark-grey);
    
    &:not(:last-child) {
      margin-bottom: $spacing--single + 0rem;
    }
  }
  
  &__toggler {
    width: 100%;
    
    &.btn {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $spacing--3qtr + 0em;
      padding: $spacing--half + 0rem $spacing--single + 0rem;
      background-color: var(--esl-color-light-grey);
      text-align: left;
      text-transform: unset;
      font-size: 1.25rem;
      color: var(--esl-color-charcoal);
      
      &:hover {
        background-color: var(--esl-color-dark-grey);
      color: var(--esl-color-charcoal);
      }
      
      & .icon::before {
        font-size: 2em;
        font-weight: 500;
        color: var(--color-secondary);
      }
      
      &[aria-expanded="false"] {
        & .icon::before {
          content: '\f107';
        }
      }
      
      &[aria-expanded="true"] {
        & .icon::before {
          content: '\f106';
        }
      }
    }
  }
  
  &__content {
    background-color: var(--esl-color-white);
    color: var(--esl-color-charcoal);
  }
  
  .o-collapse {
    > * {
      margin-bottom: 0;
    }
    
    &__body:not(.o-collapse__body--flush) {
      padding: $spacing--single + 0rem;
    }
  }
}
