@use "../1_settings/spacing" as *;
@use "../1_settings/transition" as *;

.icon { }

.icon--before {
  margin-right: $spacing--1qtr + 0em;
}

.icon--after {
  margin-left: $spacing--1qtr + 0em;
}

[class*="icon--shape"] {
  width: 1.75em;
  height: 1.75em;
  padding: 0.375em;
  background-color: var(--esl-color-green);
  color: var(--esl-color-white);
  transition: $transition;
  transition-property: background-color;
}
.icon--shape-square {
  border-radius: 25%;
}
.icon--shape-circle {
  border-radius: 50%;
}

a:not(.btn):hover [class*="icon--shape"] {
  background-color: var(--esl-color-aqua-blue);
}
a:not(.btn):active [class*="icon--shape"] {
  background-color: var(--esl-color-dark-grey);
}
