.testimonial {
  line-height: 1.25;
}

.testimonial__body {
  font-size: 2rem;
}
.testimonial__body b {
  font-family: var(--esl-font-serif);
  font-size: 1.5em;
  line-height: 1;
}

.testimonial__author {
  font-size: 1.375rem;
  color: inherit;
}

.testimonial__author-name {
  font-weight: bold;
}
