.card {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border: 1px solid;
  border-color: var(--esl-color-dark-grey);
}
.card__media, .card__content > * {
  padding: 1.125rem;
}
.card__media--flush {
  padding: 0;
}
.card__content {
  flex: 10;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
}
.card__body {
  min-width: 20ch;
  flex-basis: 70%;
  flex-grow: 1;
}
.card__header, .card__footer {
  /*display: flex;*/
  width: 100%;
}
.card__link {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  border: 1px solid;
  border-color: transparent;
  transition: ease-in-out 0.15s;
  transition-property: box-shadow, background-color, border-color;
}
.card__link:hover {
  border-color: var(--color-tertiary);
  box-shadow: 0 0 0.75rem rgba(33, 37, 41, 0.25);
}
.card__link:hover ~ .card__content .btn {
  background-color: var(--color-tertiary);
  color: var(--esl-color-white);
}
.card__link ~ .card__content {
  position: relative;
  pointer-events: none;
}
.card__link ~ .card__content a {
  position: relative;
  z-index: 1;
}
.card__link ~ .card__content a:not(.btn) {
  z-index: 2;
  pointer-events: all;
}
.card--dark {
  background-color: var(--esl-color-light-grey);
  transition: ease-in-out 0.15s;
  transition-property: background-color;
}
.card--dark .card__link:hover {
  background-color: rgba(33, 37, 41, 0.15);
}
.card--horizontal .card__media, .card--horizontal .card__header, .card--horizontal .card__footer {
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
}
.card--horizontal .card__content {
  display: flex;
  flex: 10000;
}
