.menu {
  --breakpoint: 767px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  .menu {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6329113924));
  }
}
@media all and (min-width: 1400px) {
  .menu {
    font-size: 1.25rem;
  }
}
.menu a {
  color: currentcolor;
  text-decoration-color: transparent;
}
.menu a:hover {
  text-decoration-color: var(--esl-color-medium-grey);
}
.menu nav li {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.menu nav li a {
  padding: 0.75rem 0;
}
.menu nav li > a {
  z-index: 1;
}
.menu nav li > a:hover {
  color: var(--color-secondary);
}
.menu nav > ul,
.menu nav > ol {
  justify-content: center;
}
.menu nav > ul > li,
.menu nav > ol > li {
  padding: 0 0.75rem;
}
.menu__toggler.btn {
  align-self: flex-end;
  line-height: 1;
}
.menu__toggler.btn .icon::before {
  vertical-align: middle;
  font-weight: 300;
}
.menu__toggler.btn[aria-expanded=false] .icon::before {
  content: "\f0c9";
}
.menu__toggler.btn[aria-expanded=true] .icon::before {
  content: "\f00d";
}
.menu > .menu__toggler.btn {
  z-index: 2;
  margin: 0.375rem 0;
  margin-right: 0.1875rem;
  font-size: 2em;
  color: var(--color-secondary);
}
.menu__content {
  position: relative;
  width: 100%;
}
.menu__submenu {
  position: relative;
  top: -2em;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: -2em;
}
.menu__submenu .menu__toggler.btn {
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  border: none;
  border-left: 1px solid var(--esl-color-light-grey) !important;
  font-size: 1.125em;
}
.menu__submenu .menu__toggler.btn .icon::before {
  font-weight: 400;
}
.menu__submenu .menu__toggler.btn[aria-expanded=false] .icon::before {
  content: "\f107";
}
.menu__submenu .menu__toggler.btn[aria-expanded=true] .icon::before {
  content: "\f106";
}
.menu__submenu .menu__content {
  position: static;
  font-size: 1rem;
}
.menu__submenu .menu__content a {
  font-weight: normal;
}
.menu__submenu .menu__content a:hover {
  color: var(--color-primary);
}
.menu__submenu .menu__content > * {
  margin: 0.75rem 0 0;
  border-top: 1px solid var(--esl-color-light-grey);
  padding: 0 0.375rem;
}
.menu .o-switcher {
  --breakpoint: 768px;
  gap: unset;
}

@media (max-width: 767px) {
  .menu .o-switcher[class*=separator--bullet] > :not(:first-child) {
    margin: 0;
  }
  .menu .o-switcher[class*=separator--bullet] > :not(:first-child)::before {
    content: unset;
  }
  .menu .o-switcher[class*=separator--pipe] > :not(:first-child) {
    border-left: none;
  }
}
@media (min-width: 768px) {
  .menu nav li a {
    display: block;
    padding: 1.125rem;
  }
  .menu nav li > a {
    z-index: unset;
  }
  .menu nav > ul > li,
.menu nav > ol > li {
    padding: 0;
  }
  .menu nav > ul > li:hover > .menu__submenu,
.menu nav > ol > li:hover > .menu__submenu {
    visibility: visible;
    opacity: 1;
  }
  .menu nav > ul > li > a,
.menu nav > ol > li > a {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }
  .menu nav > ul > li > a.active,
.menu nav > ol > li > a.active {
    position: relative;
    color: var(--esl-color-charcoal);
  }
  .menu nav > ul > li > a.active::before,
.menu nav > ol > li > a.active::before {
    content: "";
    position: absolute;
    right: 1.125rem;
    bottom: calc(-0.375rem - 4px);
    left: 1.125rem;
    border: none;
    border-bottom: 4px solid var(--color-secondary);
  }
  .menu nav > ul > li > a.active:hover,
.menu nav > ol > li > a.active:hover {
    color: var(--color-secondary);
  }
  .menu nav > ul > li .menu__submenu,
.menu nav > ol > li .menu__submenu {
    top: unset;
    padding-top: 1.125rem;
    margin-top: 1em;
  }
  .menu nav > ul[class*=separator--pipe] > :not(:first-child),
.menu nav > ol[class*=separator--pipe] > :not(:first-child) {
    border-left-width: 4px;
  }
  .menu__toggler {
    display: none;
  }
  .menu__content {
    position: static;
    display: block !important;
  }
  .menu__submenu {
    position: absolute;
    top: 100%;
    z-index: 1;
    margin: 0;
    padding-top: 1.125rem;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out 0.15s;
    transition-property: opacity;
  }
  .menu__submenu .menu__content {
    max-height: calc(100vh - 12rem);
    border: 1px solid rgba(33, 37, 41, 0.25);
    padding: 0;
    background-color: var(--esl-color-white);
    background-clip: padding-box;
    box-shadow: 0 0 0.75rem rgba(33, 37, 41, 0.25);
    line-height: 1;
    overflow: auto;
  }
  .menu__submenu .menu__content a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .menu__submenu .menu__content nav > ul {
    flex-direction: column;
  }
  .menu__submenu .menu__content > * {
    margin: 0;
    border: none;
    padding: 0;
  }
}
.menu--bar nav a {
  color: var(--esl-color-white);
}
.menu--bar nav li > a:hover {
  color: var(--esl-color-white);
}
.menu--bar nav > ul > li > a,
.menu--bar nav > ol > li > a {
  text-transform: uppercase;
  transition-property: none;
}
.menu--bar > .menu__content {
  background-color: var(--color-primary);
}
.menu--bar .menu__submenu .menu__toggler.btn {
  color: var(--esl-color-white);
}
.menu--bar .menu__submenu .menu__content a:hover {
  color: var(--esl-color-white);
}

@media (min-width: 768px) {
  .menu--bar nav > ul > li,
.menu--bar nav > ol > li {
    position: relative;
    background-color: transparent;
  }
  .menu--bar nav > ul > li:hover,
.menu--bar nav > ol > li:hover {
    background-color: var(--esl-color-white);
  }
  .menu--bar nav > ul > li:hover a,
.menu--bar nav > ol > li:hover a {
    color: var(--color-primary);
  }
  .menu--bar nav > ul > li > a,
.menu--bar nav > ol > li > a {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .menu--bar nav > ul > li > .menu__submenu,
.menu--bar nav > ol > li > .menu__submenu {
    top: 100%;
    width: max-content;
    min-width: calc(100% + 2px);
    margin: 0 -1px;
    padding-top: 0;
  }
  .menu--bar > .menu__content {
    padding: 0.375rem;
  }
  .menu--bar .menu__submenu {
    transition-property: none;
  }
  .menu--bar .menu__submenu .menu__content {
    border-top: none;
    box-shadow: 0 0.75rem 0.75rem rgba(33, 37, 41, 0.125);
  }
  .menu--bar .menu__submenu .menu__content a {
    color: var(--color-primary);
  }
  .menu--bar .menu__submenu .menu__content a:hover {
    color: var(--color-primary);
  }
  .menu--bar .o-switcher[class*=separator--bullet] > :not(:first-child) {
    margin-left: 1.125rem;
  }
  .menu--bar .o-switcher[class*=separator--bullet] > :not(:first-child):before {
    margin-right: calc(0.375rem + 1px);
    margin-left: -0.75rem;
  }
}
