.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu a {
  text-decoration: none;
}
.menu nav ul, .menu nav ol {
  margin: 0;
  list-style: none;
}
.menu nav li {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.menu nav li > a {
  z-index: 1;
}
.menu__toggler.btn {
  align-self: flex-end;
  line-height: 1;
}
.menu__toggler.btn .icon::before {
  vertical-align: middle;
  font-weight: 300;
}
.menu__toggler.btn[aria-expanded=false] .icon::before {
  content: "\f0c9";
}
.menu__toggler.btn[aria-expanded=true] .icon::before {
  content: "\f00d";
}
.menu__content {
  position: relative;
  z-index: 1;
  width: 100%;
}
.menu__submenu {
  position: relative;
  top: -1em;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: -1em;
}
.menu__submenu .menu__toggler.btn .icon::before {
  font-weight: 400;
}
.menu__submenu .menu__toggler.btn[aria-expanded=false] .icon::before {
  content: "\f107";
}
.menu__submenu .menu__toggler.btn[aria-expanded=true] .icon::before {
  content: "\f106";
}
.menu__submenu .menu__content {
  position: static;
}

.main-menu {
  font-size: 1rem;
}
@media all and (min-width: 768px) {
  .main-menu {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.7518796992));
  }
}
@media all and (min-width: 1300px) {
  .main-menu {
    font-size: 1.25rem;
  }
}
.main-menu nav li a {
  padding: 0.75rem 0;
  color: var(--esl-color-dark-grey);
}
.main-menu nav li a:hover {
  color: var(--color-primary);
  text-decoration-line: underline;
}
.main-menu nav li a.active {
  color: var(--color-secondary);
}
.main-menu nav > ul > li,
.main-menu nav > ol > li {
  padding: 0 0.75rem;
}
.main-menu nav > ul > li > a:hover,
.main-menu nav > ol > li > a:hover {
  color: var(--color-secondary);
}
.main-menu nav > ul > li > a.active,
.main-menu nav > ol > li > a.active {
  position: relative;
  color: var(--esl-color-dark-grey);
}
.main-menu nav > ul > li > a.active::before,
.main-menu nav > ol > li > a.active::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  bottom: 0.75rem;
  left: calc(-0.75rem - 5px);
  border-right: 4px solid var(--color-secondary);
}
.main-menu nav > ul > li > a.active:hover,
.main-menu nav > ol > li > a.active:hover {
  color: var(--color-secondary);
}
.main-menu > .menu__toggler.btn {
  z-index: 2;
  margin: 0.375rem 0;
  margin-right: 0.1875rem;
  font-size: 2em;
  align-self: flex-end;
  color: var(--color-secondary);
}
.main-menu > .menu__toggler.btn:hover {
  color: var(--color-secondary);
}
.main-menu__content {
  background-color: var(--esl-color-white);
}
.main-menu .menu__submenu {
  top: -2em;
  margin-bottom: -2em;
}
.main-menu .menu__submenu .menu__toggler.btn {
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  border: none;
  border-left: 1px solid var(--esl-color-light-grey);
  font-size: 1.125em;
  color: inherit;
}
.main-menu .menu__submenu .menu__content {
  font-size: 1rem;
}
.main-menu .menu__submenu .menu__content a {
  font-weight: normal;
}
.main-menu .menu__submenu .menu__content > * {
  margin: 0.75rem 0 0;
  border-top: 1px solid var(--esl-color-xlight-grey);
  padding: 0 0.375rem;
}

@media (min-width: 768px) {
  .main-menu nav > ul {
    display: flex;
  }
  .main-menu nav > ul > li {
    padding: 0;
  }
  .main-menu nav > ul > li:hover .menu__submenu {
    transition: ease-in-out 0.15s;
    transition-property: opacity, visibility;
    visibility: visible;
    opacity: 1;
  }
  .main-menu nav > ul > li > a {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1;
  }
  .main-menu nav > ul > li > a.active {
    position: relative;
    color: var(--esl-color-dark-grey);
  }
  .main-menu nav > ul > li > a.active::before {
    content: "";
    position: absolute;
    right: 1.125rem;
    bottom: calc(-0.375rem - 4px);
    left: 1.125rem;
    border: none;
    border-bottom: 4px solid var(--color-secondary);
  }
  .main-menu nav > ul > li > a.active:hover {
    color: var(--color-secondary);
  }
  .main-menu nav > ul > li + li {
    border-left: 0.375rem solid var(--color-secondary);
    border-width: 4px;
  }
  .main-menu nav > ul > li .menu__submenu {
    top: unset;
    padding-top: 1.125rem;
    margin-top: 1em;
  }
  .main-menu nav li a {
    display: block;
    padding: 1.125rem;
  }
  .main-menu nav li > a {
    z-index: unset;
  }
  .main-menu .menu__toggler {
    display: none;
  }
  .main-menu .menu__content {
    position: static;
    display: block;
  }
  .main-menu .menu__submenu {
    position: absolute;
    top: 100%;
    z-index: 1;
    margin: 0;
    padding-top: 1.125rem;
    visibility: hidden;
    opacity: 0;
  }
  .main-menu .menu__submenu .menu__content {
    border: 1px solid rgba(33, 37, 41, 0.25);
    padding: 0;
    background-color: var(--esl-color-white);
    background-clip: padding-box;
    box-shadow: 0 0 0.75rem rgba(33, 37, 41, 0.25);
    line-height: 1;
  }
  .main-menu .menu__submenu .menu__content a {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .main-menu .menu__submenu .menu__content nav > ul {
    flex-direction: column;
  }
  .main-menu .menu__submenu .menu__content > * {
    margin: 0;
    border: none;
    padding: 0;
  }
}
