.message {
  position: relative;
  padding: 0.75rem 1.125rem;
  color: var(--esl-color-white);
}
.message {
  font-size: 0.9128709292rem;
}
@media all and (min-width: 768px) {
  .message {
    font-size: calc(0.9128709292rem + ((1vw - 7.68px) * -0.046693008));
  }
}
@media all and (min-width: 1400px) {
  .message {
    font-size: 0.894427191rem;
  }
}
.message a {
  color: var(--esl-color-white);
  text-decoration-style: dotted;
}
.message a:hover {
  color: var(--esl-color-white) !important;
  text-decoration-color: var(--esl-color-white) !important;
  text-decoration-style: solid;
}
.message--status {
  background-color: var(--color-primary);
}
.message--warning {
  background-color: var(--color-tertiary);
}
.message--error {
  background-color: var(--color-secondary);
}
.message--dismissible {
  padding-right: 3rem;
}
.message__close {
  position: absolute;
  top: 0.75rem;
  right: 1.125rem;
}
