///
/// @file
/// Define brand colors.
///
$esl-blue: #00395d;
$esl-green: #00843d;

$aqua-blue: #00a3e0;
$medium-green: #02833d;
$dark-green: #015126;

$pga-blue: #00819e;
$pga-green: #6c7d31;
$pga-cream: #fbf7e8;

$black: #000;
$dark-grey: #212529;
$medium-grey: #a8a8a8;
$light-grey: #d2d2d7;
$xlight-grey: #ededee;
$white: #fff;

$error: #cc0000;
