///
/// @file
/// Define brand colors.
///
$esl-blue: #00395d;
$esl-green: #00843d;
$esl-aqua: #00a3e0;

$pga-blue: #00819e;
$pga-green: #6c7d31;
$pga-cream: #fbf7e8;

$black: #000;
$charcoal: #212529;
$dark-grey: #d2d2d7;
$light-grey: #ededee;
$white: #fff;

$error: #d2232a;
$warning: $esl-aqua;
