@use "../../1_settings/breakpoints" as *;
@use "../../1_settings/colors";
@use "../../1_settings/spacing" as *;
@use "../../1_settings/transition" as *;

$breakpoint: map-get($breakpoints, lg);

.menu--bar {
  
  nav {
    a {
      color: var(--esl-color-white);
    }
    
    li {
      > a {
        &:hover {
          color: var(--esl-color-white);
        }
      }
    }
    
    > ul,
    > ol {
      > li {
        > a {
          text-transform: uppercase;
          transition-property: none;
        }
      }
    }
  }
  
  > .menu__content {
    background-color: var(--color-primary);
  }
  
  .menu__submenu {
    .menu__toggler.btn {
      color: var(--esl-color-white);
    }
    
    .menu__content {
      a {
        &:hover {
          color: var(--esl-color-white);
        }
      }
    }
  }
}

@media (min-width: #{$breakpoint}) {
  .menu--bar {
    nav {
      > ul,
      > ol {
        > li {
          position: relative;
          background-color: transparent;
          
          &:hover {
            background-color: var(--esl-color-white);
            
            a {
              color: var(--color-primary);
            }            
          }
          
          > a {
            display: block;
            padding-top: $spacing--half + 0rem;
            padding-bottom: $spacing--half + 0rem;
          }
          
          > .menu__submenu {
            top: 100%;
            width: max-content;
            min-width: calc(100% + 2px);
            margin: 0 -1px;
            padding-top: 0;
          }
        }
      }
    }
    
    > .menu__content {
      padding: $spacing--1qtr + 0rem;
    }
    
    .menu__submenu {
      transition-property: none;
      
      .menu__content {
        border-top: none;
        box-shadow: 0 $spacing--half + 0rem $spacing--half + 0rem rgba(33, 37, 41, 0.125);
        
        a {
          color: var(--color-primary);
          
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    
    .o-switcher {
      &[class*="separator--bullet"] {
        > :not(:first-child) {
          margin-left: $spacing--3qtr + 0rem;
          
          &:before {
            margin-right: calc(#{$spacing--1qtr + 0rem} + 1px);
            margin-left: -$spacing--half + 0rem;
          }
        }
      }
    }
  }
}
