@use "sass:color";
@use "sass:math";
@use "../../1_settings/breakpoints" as *;
@use "../../1_settings/colors";
@use "../../1_settings/spacing" as *;
@use "../../1_settings/transition" as *;
@use "../../2_tools/accent" as *;
@use "../../2_tools/font-size";

$breakpoint: map-get($breakpoints, lg);

.menu {
  --breakpoint: #{$breakpoint - 1};
  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include font-size.large-end;
  
  a {
    color: currentcolor;
    text-decoration-color: transparent;
    
    &:hover {
      text-decoration-color: var(--esl-color-medium-grey);
    }
  }
  
  nav {
    li {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      
      a {
        padding: $spacing--half + 0rem 0;
      }
      
      > a {
        z-index: 1;
        
        &:hover {
          color: var(--color-secondary);
        }
      }
    }
    
    > ul, 
    > ol {
      justify-content: center;
      
      > li {
        padding: 0 $spacing--half + 0rem;
      }
    }
  }
  
  &__toggler.btn {
    align-self: flex-end;
    line-height: 1;
    
    .icon::before {
      vertical-align: middle;
      font-weight: 300;
    }
    
    &[aria-expanded="false"] {
      & .icon::before {
        content: '\f0c9';
      }
    }
    
    &[aria-expanded="true"] {
      & .icon::before {
        content: '\f00d';
      }
    }
  }
  
  & > &__toggler.btn {
    z-index: 2;
    margin: $spacing--1qtr + 0rem 0;
    margin-right: math.div($spacing--1qtr + 0rem, 2);
    font-size: 2em;
    color: var(--color-secondary);
  }
  
  &__content {
    position: relative;
    width: 100%;
  }
  
  &__submenu {
    position: relative;
    top: -2em;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: -2em;
    
    .menu__toggler.btn {
      margin-left: 0.25rem;
      padding-left: 0.25rem;
      border: none;
      border-left: 1px solid var(--esl-color-light-grey) !important;
      font-size: 1.125em;
      
      .icon::before {
        font-weight: 400;
      }
      
      &[aria-expanded="false"] {
        & .icon::before {
          content: '\f107';
        }
      }
      
      &[aria-expanded="true"] {
        & .icon::before {
          content: '\f106';
        }
      }
    }
    
    .menu__content {
      position: static;
      font-size: 1rem;
      
      a {
        font-weight: normal;
        
        &:hover {
          color: var(--color-primary);
        }
      }
      
      > * {
        margin: $spacing--half + 0rem 0 0;
        border-top: 1px solid var(--esl-color-light-grey);
        padding: 0 $spacing--1qtr + 0rem;
      }
    }
  }
  
  .o-switcher {
    --breakpoint: #{$breakpoint};
    gap: unset;
  }
}

@media (max-width: $breakpoint - 1) {
  .menu {
    .o-switcher {
      &[class*="separator--bullet"] {
        > :not(:first-child) {
          margin: 0;
          
          &::before {
            content: unset;
          }
        }
      }
      
      &[class*="separator--pipe"] {
        > :not(:first-child) {
          border-left: none;
        }
      }
    }
  }
}

@media (min-width: #{$breakpoint}) {
  .menu {
    nav {
      li {
        a {
          display: block;
          padding: $spacing--3qtr + 0rem;
        }
        
        > a {
          z-index: unset;
        }
      }
      
      > ul,
      > ol {
        > li {
          padding: 0;
          
          &:hover {
            > .menu__submenu {
              visibility: visible;
              opacity: 1;
            }
          }
          
          > a {
            display: flex;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
            line-height: 1;
            
            &.active {
              position: relative;
              color: var(--esl-color-charcoal);
              
              &::before {
                content: '';
                position: absolute;
                right: $spacing--3qtr + 0rem;
                bottom: calc(-#{$spacing--1qtr + 0rem} - 4px);
                left: $spacing--3qtr + 0rem;
                border: none;
                border-bottom: 4px solid var(--color-secondary);
              }
              
              &:hover {
                color: var(--color-secondary);
              }
            }
          }
          
          .menu__submenu {
            top: unset;
            padding-top: $spacing--3qtr + 0rem;
            margin-top: 1em;
          }
        }
        
        &[class*="separator--pipe"] {
          > :not(:first-child) {
            border-left-width: 4px;
          }
        }
      }
    }
    
    &__toggler {
      display: none;
    }
    
    &__content {
      position: static;
      display: block !important;
    }
    
    &__submenu {
      position: absolute;
      top: 100%;
      z-index: 1;
      margin: 0;
      padding-top: $spacing--3qtr + 0rem;
      visibility: hidden;
      opacity: 0;
      transition: $transition;
      transition-property: opacity;

      .menu__content {
        max-height: calc(100vh - 12rem);
        border: 1px solid color.adjust(colors.$charcoal, $alpha: -0.75);
        padding: 0;
        background-color: var(--esl-color-white);
        background-clip: padding-box;
        box-shadow: 0 0 ($spacing--half + 0rem) color.adjust(colors.$charcoal, $alpha: -0.75);
        line-height: 1;
        overflow: auto;
        
        a {
          padding-top: $spacing--half + 0rem;
          padding-bottom: $spacing--half + 0rem;
        }
        
        nav {
          > ul {
            flex-direction: column;
          }
        }
        
        > * {
          margin: 0;
          border: none;
          padding: 0;
        }
      }
    }
  }
}
