@use "sass:math";
@use "../1_settings/spacing" as *;
@use "../2_tools/accent" as *;

.esl-accent {
  position: relative;
  margin-bottom: $spacing--double + 0rem !important;
  
  &::after {
    content: '';
    position: absolute;
    bottom: -($spacing--single + 0rem) - (math.div($spacing--1qtr, 2) + 0rem);
    left: 0;
    width: 100px;
    @include accent(bottom);
  }
}
