@use "sass:color";
@use "../1_settings/spacing" as *;
@use "../1_settings/colors";

.esl-frame {
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: $spacing--3qtr + 0rem;
    right: $spacing--3qtr + 0rem;
    bottom: $spacing--3qtr + 0rem;
    left: $spacing--3qtr + 0rem;
    border: ($spacing--1qtr + 0rem) solid color.adjust(colors.$light-grey, $alpha: -0.3);
  }
}
